@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*,
*::before,
*::after {
   box-sizing: border-box;
}

* {
   scrollbar-color: currentColor transparent;
   scrollbar-width: thin;
}

:root {
   --clr-success: oklch(52.7% 0.154 150.069);
}

html {
   color-scheme: dark light;
}

body {
   margin: 0;
}

.body {
   height: 100svh;
   display: grid;
   grid-template-columns: auto 1fr;
   font-family: 'Outfit', serif;
   font-size: 1rem;
   font-weight: 300;
   letter-spacing: 0.25px;
}

input[type='checkbox'] {
   width: 0.9em;
   height: 0.9em;
}

button {
   cursor: pointer;
}

::backdrop {
   background-color: rgba(0, 0, 0, 0.6);
   backdrop-filter: blur(1px);
}

.wrapper {
   width: 100%;
   padding-inline: 10%;
}

*:has(> .grain-texture) {
   position: relative;
   isolation: isolate;
}

.grain-texture {
   z-index: -1;
}

.sidebar {
   min-width: 18ch;
}

.dialog {
   background: none;
   color: white;
   position: absolute;
   z-index: 1000;
   top: 50%;
   left: 50%;
   translate: -50% -50%;
   max-width: 22.5em;
}

.exit-animation {
   position: relative;
   --_duration: 0.1s;
   opacity: 0;
   translate: 0 -20px;
   transform-origin: center;
   transform: scale(0.5, 0);

   transition:
      opacity 0.3s,
      translate 0.3s,
      transform 0.3s,
      transform-origin 0.3s;
   transition-delay: calc(var(--_duration) * 6);

   animation: rotateOut calc(var(--_duration) * 2.2) linear forwards;
}

.exit-animation::before {
   content: '✓';
   position: absolute;
   inset: -1px;
   display: grid;
   overflow: hidden;
   place-content: center;
   background-color: inherit;
   color: var(--clr-success);
   font-size: 1.75rem;
   font-weight: 900;
   border: 1px solid var(--clr-success);
   scale: 1 0;
   animation: rotateIn var(--_duration) var(--_duration) linear forwards;
}

@keyframes rotateOut {
   0% {
      scale: 1 1;
   }
   50% {
      scale: 1 0;
   }

   100% {
      scale: 1 1;
   }
}

@keyframes rotateIn {
   0% {
      scale: 1 0;
   }

   100% {
      scale: 1 1;
   }
}
