@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*,
*::before,
*::after {
   box-sizing: border-box;
}

.custom-scrollbar,
html {
   scrollbar-color: oklch(34% 0 0) transparent;
}

:root {
   --full-w-breakpoint: 1200px;
   --clr-success: oklch(52.7% 0.154 150.069);
   --clr-error: oklch(44.794% 0.17702 28.413 / 0.616);

   --board-max-width: 2000px;
}

html {
   color-scheme: dark light;
}

body {
   margin: 0;
}

.body {
   display: grid;
   grid-template-columns: min(14rem, 100%) 1fr;
   font-family: 'Outfit', serif;
   font-size: 1rem;
   font-weight: 300;
   letter-spacing: 0.25px;
   user-select: none;
}

input[type='checkbox'] {
   width: 0.9em;
   height: 0.9em;
}

button {
   cursor: pointer;
}

::backdrop {
   background-color: rgba(0, 0, 0, 0.6);
   backdrop-filter: blur(3px);
}

.input {
   border-radius: 0.125rem;
   max-width: 100%;
}

.textarea {
   border-radius: 0.125rem;
   resize: none;
   width: 100%;
   height: 100%;
   overflow-y: visible;
}

.wrapper {
   width: 100%;
   margin-inline: auto;
   max-width: var(--full-w-breakpoint);
   padding-inline: 5%;
}

*:has(> .grain-texture) {
   position: relative;
   isolation: isolate;
}

.grain-texture {
   z-index: -1;
}

.sidebar {
   min-width: 18ch;
}

.nav-btn {
   transition:
      background-color 0.2s ease-out,
      transform 0.2s ease-out;
}

.nav-btn:hover {
   transform: skewX(-5deg) rotateY(25deg);
}

.dialog {
   background: none;
   color: white;
   position: fixed;
   z-index: 1000;
   top: 50%;
   left: 50%;
   translate: -50% -50%;
   max-width: 22.5em;
}

.exit-animation {
   position: relative;
   --_duration: 0.1s;
   opacity: 0;
   translate: 0 -20px;
   transform-origin: center;
   transform: scale(0.5, 0);

   transition:
      opacity 0.3s,
      translate 0.3s,
      transform 0.3s,
      transform-origin 0.3s;
   transition-delay: calc(var(--_duration) * 6);

   animation: rotateOut calc(var(--_duration) * 2.2) linear forwards;
}

.exit-animation::before {
   content: '✓';
   position: absolute;
   inset: -1px;
   display: grid;
   overflow: hidden;
   place-content: center;
   background-color: inherit;
   color: var(--clr-success);
   font-size: 1.75rem;
   font-weight: 900;
   border: 1px solid var(--clr-success);
   scale: 1 0;
   animation: rotateIn var(--_duration) var(--_duration) linear forwards;
}

@keyframes rotateOut {
   0% {
      scale: 1 1;
   }
   50% {
      scale: 1 0;
   }

   100% {
      scale: 1 1;
   }
}

@keyframes rotateIn {
   0% {
      scale: 1 0;
   }

   100% {
      scale: 1 1;
   }
}

[data-type='note'] {
   transition:
      box-shadow 0.1s ease-out,
      scale 0.1s;
}

.sticky-board {
   max-width: var(--board-max-width);
   height: 100svh;
   overflow-y: hidden;
   position: relative;
   overflow-x: auto;
   scroll-behavior: smooth;
   --box-shadow: inset 0 0 1rem;
   box-shadow: var(--box-shadow) transparent;
}

.sticky-board--grid {
   --_line-size: 1px;
   --_space-size: 25px;
   --_line-color: rgb(255, 255, 255, 0.05);
   background:
      repeating-linear-gradient(
         to bottom,
         var(--_line-color),
         var(--_line-color) var(--_line-size),
         transparent var(--_line-size),
         transparent var(--_space-size)
      ),
      repeating-linear-gradient(
         to right,
         var(--_line-color),
         var(--_line-color) var(--_line-size),
         transparent var(--_line-size),
         transparent var(--_space-size)
      );
}

.snapNote {
   transition:
      left 0.2s ease-out,
      top 0.2s ease-out;
}

.bound-animation {
   animation: borderBreath 750ms ease-out;
}

@keyframes borderBreath {
   50% {
      box-shadow: var(--box-shadow) var(--clr-error);
   }
   100% {
      box-shadow: var(--box-shadow) transparent;
   }
}

.project {
   animation: fadeIn forwards 0.2s ease-in;
}

@keyframes fadeIn {
   0% {
      scale: 0.99;
      opacity: 0;
   }
   100% {
      opacity: 1;
      scale: 1;
   }
}
