@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*,
*::before,
*::after {
   box-sizing: border-box;
}

html {
   color-scheme: dark light;
}

body {
   margin: 0;
}

.body {
   font-family: 'Outfit', serif;
   height: 100svh;
   letter-spacing: 0.25px;
   font-weight: 300;
   font-size: 1rem;
   background-color: #111;
   display: grid;
   grid-template-columns: auto 1fr;
}

.wrapper {
   width: 100%;
   padding-inline: 10%;
}

button {
   cursor: pointer;
}

*:has(> .grain-texture) {
   position: relative;
}

.sidebar {
   min-width: 18ch;
}

::backdrop {
   background-color: rgba(0, 0, 0, 0.6);
   backdrop-filter: blur(1px);
}

.dialog {
   background-color: transparent;
   color: white;
   position: absolute;
   top: 50%;
   left: 50%;
   translate: -50% -50%;
}

.border-inset {
   box-shadow: inset 0 0 0 1px currentColor;
}

@keyframes shake {
   0% {
      rotate: 0deg;
   }
   33.33% {
      rotate: 15deg;
   }

   66% {
      rotate: -15deg;
   }

   100% {
      rotate: 0deg;
   }
}
