@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*,
*::before,
*::after {
   box-sizing: border-box;
}

html {
   color-scheme: dark light;
}

body {
   margin: 0;
}

.body {
   font-family: 'Outfit', serif;
   height: 100svh;
   letter-spacing: 0.25px;
   font-weight: 350;
   font-size: 1.25rem;
   background-color: #111;
   display: grid;
   grid-template-columns: auto 1fr;
}

button {
   cursor: pointer;
}

*:has(> .grain-texture) {
   position: relative;
}

.sidebar {
   min-width: 18ch;
}
